
html {
  margin:0;
  padding:0;
  overflow-y: hidden;
  overflow-x: hidden;
}
body {
  display: block;
  width: 100vw;
  height: 100vh;
  margin:0;
  padding:0;
}

svg, div.sketch {
  position: fixed;
  top: 0;
  left: 0;
}

div.sketch {
  background: white;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

svg {
  z-index: 1;
}

.links {
  /* stroke: none; */
  stroke: rgba(255,255,255,1);
  stroke-opacity: 0.25;
}

line.active_cell {
  stroke: #000;
}

.polygons {
  /* fill: rgba(0, 0, 0, 1); */
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.5);
}

.polygons :first-child {
  fill: rgba(255, 255, 255, 0.25);
}

.polygons :last-child {
  fill: rgba(0, 0, 0, 0.25);
}

.sites {
  fill: rgba(255, 255, 255, 0.25) !important;
}

.sites :first-child {
  fill: rgba(0, 0, 0, 0.5);
}

.sites :last-child {
  fill: rgba(255, 255, 255, 1) !important;
}

.sites {
  fill: white;
}

.sites :first-child {
}
